USE [master]
GO
/****** Object:  Database [Bida]    Script Date: 19-Apr-16 11:17:11 AM ******/
CREATE DATABASE [Bida]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Bida', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL11.WHITE\MSSQL\DATA\Bida.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Bida_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL11.WHITE\MSSQL\DATA\Bida_log.ldf' , SIZE = 784KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Bida].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Bida]
GO
/****** Object:  Table [dbo].[BAN]    Script Date: 19-Apr-16 11:17:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAN](
	[MABAN] [int] IDENTITY(1,1) NOT NULL,
	[LOAIBAN] [bit] NULL,
	[KHUVUC] [int] NULL,
	[TINHTRANG] [bit] NULL,
	[GIOBD] [datetime] NULL,
	[GIOKT] [datetime] NULL,
	[MAKH] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BIENLAI]    Script Date: 19-Apr-16 11:17:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BIENLAI](
	[MABIENLAI] [int] IDENTITY(1,1) NOT NULL,
	[MANHANVIEN] [varchar](50) NOT NULL,
	[MABAN] [int] NOT NULL,
	[MAKH] [int] NULL,
	[ThoiGian] [nvarchar](50) NULL,
	[TONGTIEN] [nchar](10) NULL,
	[GioBD] [datetime] NULL,
	[GioKT] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHITIETBIENLAI]    Script Date: 19-Apr-16 11:17:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETBIENLAI](
	[MAKH] [varchar](100) NOT NULL,
	[MABIENLAI] [varchar](100) NOT NULL,
	[TONGTIEN] [money] NULL,
	[SOGIO] [int] NULL,
 CONSTRAINT [PK_CHITIETBIENLAI] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC,
	[MABIENLAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 19-Apr-16 11:17:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [int] IDENTITY(1,1) NOT NULL,
	[TENKH] [nvarchar](100) NULL,
	[SDT] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 19-Apr-16 11:17:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANHANVIEN] [varchar](50) NOT NULL,
	[TenNhanVien] [nvarchar](50) NOT NULL,
	[CALAM] [bit] NULL,
	[PASSNV] [varchar](100) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[QUANLI]    Script Date: 19-Apr-16 11:17:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[QUANLI](
	[MANHANVIEN] [varchar](50) NOT NULL,
	[TENNHANVIEN] [varchar](100) NULL,
	[CALAM] [bit] NULL,
	[PASSNV] [varchar](100) NULL,
 CONSTRAINT [PK_QUANLI] PRIMARY KEY CLUSTERED 
(
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[BAN] ON 

INSERT [dbo].[BAN] ([MABAN], [LOAIBAN], [KHUVUC], [TINHTRANG], [GIOBD], [GIOKT], [MAKH]) VALUES (2, 0, 1, 0, CAST(N'2016-04-17 00:00:00.000' AS DateTime), CAST(N'2016-04-17 00:00:00.000' AS DateTime), 1)
INSERT [dbo].[BAN] ([MABAN], [LOAIBAN], [KHUVUC], [TINHTRANG], [GIOBD], [GIOKT], [MAKH]) VALUES (4, 1, 1, 0, CAST(N'2016-04-18 23:17:29.000' AS DateTime), CAST(N'2016-04-19 10:40:55.000' AS DateTime), 1)
INSERT [dbo].[BAN] ([MABAN], [LOAIBAN], [KHUVUC], [TINHTRANG], [GIOBD], [GIOKT], [MAKH]) VALUES (6, 1, 1, 0, CAST(N'2016-04-19 09:35:23.000' AS DateTime), CAST(N'2016-04-18 23:30:18.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[BAN] OFF
SET IDENTITY_INSERT [dbo].[BIENLAI] ON 

INSERT [dbo].[BIENLAI] ([MABIENLAI], [MANHANVIEN], [MABAN], [MAKH], [ThoiGian], [TONGTIEN], [GioBD], [GioKT]) VALUES (1, N'white', 7, 2, N'0 gi? 0 phút', N'0.000 VND ', CAST(N'2016-04-18 23:23:25.000' AS DateTime), CAST(N'2016-04-18 23:23:25.000' AS DateTime))
INSERT [dbo].[BIENLAI] ([MABIENLAI], [MANHANVIEN], [MABAN], [MAKH], [ThoiGian], [TONGTIEN], [GioBD], [GioKT]) VALUES (2, N'white', 8, 4, N'0 gi? 0 phút', N'0.000 VND ', CAST(N'2016-04-18 23:24:59.000' AS DateTime), CAST(N'2016-04-18 23:25:00.000' AS DateTime))
INSERT [dbo].[BIENLAI] ([MABIENLAI], [MANHANVIEN], [MABAN], [MAKH], [ThoiGian], [TONGTIEN], [GioBD], [GioKT]) VALUES (3, N'white', 15, 2, N'0 gi? 0 phút', N'0.000 VND ', CAST(N'2016-04-18 23:27:08.000' AS DateTime), CAST(N'2016-04-18 23:27:09.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[BIENLAI] OFF
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [SDT]) VALUES (1, N'', N'')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [SDT]) VALUES (2, N'Dương Nhật Bình', N'0914722032  ')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [SDT]) VALUES (3, N'Pikachu', N'0838858410')
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [TenNhanVien], [CALAM], [PASSNV]) VALUES (N'white', N'Thế Anh', 1, N'anh123')
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [TenNhanVien], [CALAM], [PASSNV]) VALUES (N'nhatbinh', N'Nhât Bình', 0, N'123456')
/****** Object:  Index [PK_BAN]    Script Date: 19-Apr-16 11:17:11 AM ******/
ALTER TABLE [dbo].[BAN] ADD  CONSTRAINT [PK_BAN] PRIMARY KEY NONCLUSTERED 
(
	[MABAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_BIENLAI]    Script Date: 19-Apr-16 11:17:11 AM ******/
ALTER TABLE [dbo].[BIENLAI] ADD  CONSTRAINT [PK_BIENLAI] PRIMARY KEY NONCLUSTERED 
(
	[MABIENLAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [LAP_FK]    Script Date: 19-Apr-16 11:17:11 AM ******/
CREATE NONCLUSTERED INDEX [LAP_FK] ON [dbo].[BIENLAI]
(
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_3_FK]    Script Date: 19-Apr-16 11:17:11 AM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_3_FK] ON [dbo].[BIENLAI]
(
	[MABAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [CHITIETBIENLAI_FK]    Script Date: 19-Apr-16 11:17:11 AM ******/
CREATE NONCLUSTERED INDEX [CHITIETBIENLAI_FK] ON [dbo].[CHITIETBIENLAI]
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [CHITIETBIENLAI2_FK]    Script Date: 19-Apr-16 11:17:11 AM ******/
CREATE NONCLUSTERED INDEX [CHITIETBIENLAI2_FK] ON [dbo].[CHITIETBIENLAI]
(
	[MABIENLAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_KHACHHANG]    Script Date: 19-Apr-16 11:17:11 AM ******/
ALTER TABLE [dbo].[KHACHHANG] ADD  CONSTRAINT [PK_KHACHHANG] PRIMARY KEY NONCLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_NHANVIEN]    Script Date: 19-Apr-16 11:17:11 AM ******/
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [PK_NHANVIEN] PRIMARY KEY NONCLUSTERED 
(
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BAN]  WITH CHECK ADD  CONSTRAINT [FK_BAN_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[BAN] CHECK CONSTRAINT [FK_BAN_KHACHHANG]
GO
ALTER TABLE [dbo].[BIENLAI]  WITH CHECK ADD  CONSTRAINT [FK_BIENLAI_CO_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[BIENLAI] CHECK CONSTRAINT [FK_BIENLAI_CO_KHACHHANG]
GO
ALTER TABLE [dbo].[BIENLAI]  WITH CHECK ADD  CONSTRAINT [FK_BIENLAI_LAP_NHANVIEN] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[BIENLAI] CHECK CONSTRAINT [FK_BIENLAI_LAP_NHANVIEN]
GO
ALTER TABLE [dbo].[BIENLAI]  WITH CHECK ADD  CONSTRAINT [FK_BIENLAI_RELATIONS_BAN] FOREIGN KEY([MABAN])
REFERENCES [dbo].[BAN] ([MABAN])
GO
ALTER TABLE [dbo].[BIENLAI] CHECK CONSTRAINT [FK_BIENLAI_RELATIONS_BAN]
GO
ALTER TABLE [dbo].[QUANLI]  WITH CHECK ADD  CONSTRAINT [FK_QUANLI_INHERITAN_NHANVIEN] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[QUANLI] CHECK CONSTRAINT [FK_QUANLI_INHERITAN_NHANVIEN]
GO
USE [master]
GO
